<div id="shown">
	<div id="source">
		<div id="head-wrapper" class="text-center">
			<div class="lead" >English</div>
		</div>
		<div id="body-wrapper">
			<textarea><%= @base.source %></textarea>
		</div>
	</div>
	<div id="translation">
		<div id="head-wrapper" class="text-center">
			<div class="lead">French</div>
		</div>
		<div id="body-wrapper">
			<p class="text-left"><%= @base.translation %></p>
		</div>
	</div>
</div>