<div id="shown" class="row-fluid">
 
        <div id="source" class="span4">
                <h1 id="head-wrapper" class="text-center">
                        <div class="lead" >English</div>
                </h1>
                <div id="body-wrapper">
                        <p><%= @base.source%></p>
                </div>
        </div>
        <div id="translation" class="span4">
                <h1 id="head-wrapper" class="text-center">
                        <div class="lead">French</div>
                </h1>
                <div id="body-wrapper">
                        <p > <%= @base.translation %></p>
                </div>
        </div>
</div>

<%= javascript_include_tag "show.js" %>