// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body{
    background: grey;
}
 
#source{
        float:left;
        padding-left: 10px;
}
 
#translation{
  padding-left: 10px;
}
 
p{
        height: 500px;
}
 
#head-wrapper{
        background:white;
        border-radius: 5px;
}
 
#body-wrapper{
        background:white;
        border-radius: 5px;
}



/*INDE*/